# secrets
.env
.env*.local
.env.development
.env.production

# dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/

# Vercel
.vercel

# Drizzle
drizzle/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.DS_Store
*.pem
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
